body {
  background-color: #f4f8fb;
  color: #1f2933;
}

/* Sidebar */
header {
  background-color: #dbe7f3;
  padding: 20px;
  border-radius: 10px;
}

/* כותרות */
h1, h2, h3 {
  color: #102a43;
}

/* קישורים */
a {
  color: #1d4ed8;
}

a:hover {
  color: #0b3c91;
}
